<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>increment_check_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,790},{102,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>lobby_btn_short_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,418},{90,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_corridor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,473},{347,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,406}}</string>
                <key>sourceSize</key>
                <string>{347,406}</string>
            </dict>
            <key>lobby_corridor_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,209},{207,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,216}}</string>
                <key>sourceSize</key>
                <string>{207,218}</string>
            </dict>
            <key>lobby_czg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,473},{347,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,406}}</string>
                <key>sourceSize</key>
                <string>{347,406}</string>
            </dict>
            <key>lobby_czg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{205,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,218}}</string>
                <key>sourceSize</key>
                <string>{207,218}</string>
            </dict>
            <key>lobby_item_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{382,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,469}}</string>
                <key>sourceSize</key>
                <string>{382,469}</string>
            </dict>
            <key>lobby_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,586},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{107,82}</string>
            </dict>
            <key>lobby_paomadeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{1064,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{1064,35}}</string>
                <key>sourceSize</key>
                <string>{1088,35}</string>
            </dict>
            <key>lobbyui_btn_week_month_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,790},{100,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>lobbyui_btn_yi_yuan_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,511},{88,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,73}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>lobbyui_find_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,642},{196,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,105},{196,126}}</string>
                <key>sourceSize</key>
                <string>{288,336}</string>
            </dict>
            <key>matchs_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,473},{101,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,343}}</string>
                <key>sourceSize</key>
                <string>{101,343}</string>
            </dict>
            <key>matchs_txt_bisaizhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,473},{32,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,141}}</string>
                <key>sourceSize</key>
                <string>{32,141}</string>
            </dict>
            <key>matchs_txt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,669},{209,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,59}}</string>
                <key>sourceSize</key>
                <string>{209,59}</string>
            </dict>
            <key>pub_rect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,576},{308,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,64}}</string>
                <key>sourceSize</key>
                <string>{308,64}</string>
            </dict>
            <key>suc_strength1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,642},{178,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,72}}</string>
                <key>sourceSize</key>
                <string>{178,72}</string>
            </dict>
            <key>suc_strength2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,716},{176,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,72}}</string>
                <key>sourceSize</key>
                <string>{178,72}</string>
            </dict>
            <key>table_acquaint_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{382,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,469}}</string>
                <key>sourceSize</key>
                <string>{382,469}</string>
            </dict>
            <key>table_free_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{382,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,469}}</string>
                <key>sourceSize</key>
                <string>{382,469}</string>
            </dict>
            <key>toast_bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,418},{462,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,149}}</string>
                <key>sourceSize</key>
                <string>{462,149}</string>
            </dict>
            <key>vivo_banner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{822,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,309}}</string>
                <key>sourceSize</key>
                <string>{822,309}</string>
            </dict>
            <key>vivo_banner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{822,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,309}}</string>
                <key>sourceSize</key>
                <string>{822,309}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobbyui3.png</string>
            <key>size</key>
            <string>{2019,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ef4d5a9a1a0194c629855bd74bacb6:89353c458a87897d8346ad5908630dcf:835725b8babda2b449528b1d37cd0511$</string>
            <key>textureFileName</key>
            <string>lobbyui3.png</string>
        </dict>
    </dict>
</plist>
