<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity/lobby_battle_gangup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{293,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{293,163}}</string>
                <key>sourceSize</key>
                <string>{293,167}</string>
            </dict>
            <key>activity/lobby_battle_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,481},{293,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{293,159}}</string>
                <key>sourceSize</key>
                <string>{293,161}</string>
            </dict>
            <key>activity/lobby_battle_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,832},{293,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,161}}</string>
                <key>sourceSize</key>
                <string>{293,161}</string>
            </dict>
            <key>activity_mode_open_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{204,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>activity_mode_title28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,645},{256,91}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,91}}</string>
                <key>sourceSize</key>
                <string>{262,91}</string>
            </dict>
            <key>activity_mode_title302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,766},{280,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,100}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,365},{272,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{272,84}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,481},{254,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,451},{258,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{258,94}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,547},{256,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{256,96}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,868},{282,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{282,94}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>activity_mode_title_sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,920},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{204,64}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>activity_qiangzhu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,371},{56,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,41}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>channel_menulist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,276},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>lobby_btn_bisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,761},{90,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{90,93}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_czg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,737},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{95,100}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_gonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,834},{90,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{90,93}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_guangbao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,642},{122,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,284}}</string>
                <key>sourceSize</key>
                <string>{122,284}</string>
            </dict>
            <key>lobby_btn_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,738},{90,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{90,93}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_huilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,832},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_licai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,654},{105,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_meiriwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,920},{105,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_oppo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,853},{90,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,920},{105,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_vivo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,738},{90,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{90,93}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_xinshoubibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,547},{105,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>lobby_btn_yyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,853},{90,91}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_yyb_bbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,926},{90,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_btn_yyb_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,833},{90,91}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>lobby_mode2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{435,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,517}}</string>
                <key>sourceSize</key>
                <string>{435,517}</string>
            </dict>
            <key>lobby_mode2_2_corver.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{367,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,448}}</string>
                <key>sourceSize</key>
                <string>{367,448}</string>
            </dict>
            <key>lobby_mode2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,646},{430,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,272}}</string>
                <key>sourceSize</key>
                <string>{430,272}</string>
            </dict>
            <key>lobby_mode2_5_corver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,276},{363,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,203}}</string>
                <key>sourceSize</key>
                <string>{363,203}</string>
            </dict>
            <key>lobby_mode2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,371},{430,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,273}}</string>
                <key>sourceSize</key>
                <string>{430,273}</string>
            </dict>
            <key>lobby_mode2_6_corver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{361,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,204}}</string>
                <key>sourceSize</key>
                <string>{361,204}</string>
            </dict>
            <key>lobby_mode2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,313},{344,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,517}}</string>
                <key>sourceSize</key>
                <string>{344,517}</string>
            </dict>
            <key>lobby_mode2_9_corver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{272,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,448}}</string>
                <key>sourceSize</key>
                <string>{272,448}</string>
            </dict>
            <key>lobbyui_btn_bbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,832},{102,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>lobbyui_btn_newbie.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,938},{96,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>lobbyui_btn_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,738},{70,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{70,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>vivo_bbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,834},{92,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{92,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>vivo_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,928},{90,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,91}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>yingyongbao_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{822,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,309}}</string>
                <key>sourceSize</key>
                <string>{822,309}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobbyui2.png</string>
            <key>size</key>
            <string>{1966,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308d860e662a32277b0b8aae332a6225$</string>
            <key>textureFileName</key>
            <string>lobbyui2.png</string>
        </dict>
    </dict>
</plist>
